@use "./Lib.scss";
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80dvh;
  width: 100%;
  background-image: url("/images/bg1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  background-color: black;
  position: relative;
  overflow: hidden;
  .fade {
    @include Lib.fullOccupy(5,absolute);
    height: calc(100% + 2px) !important;
    width: 100% !important;
    background: linear-gradient(
      to bottom,
      #25252525,
      #101010e0,
      #101010,
    );
  }
  .items {
    font-family: "Minecraft Items";
    font-size: 2rem;
    aspect-ratio: 1 / 1;
    height: 16rem;
    text-wrap: break-word;
    z-index: 30;
    // to be fixed
    color: #fefefe;
    filter: drop-shadow(0 0 1rem black);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-weight: 400;
    font-size: 8rem;
  }
  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 20;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    filter: drop-shadow(0 0 1rem #050505);
    h1 {
      font-family: "Title Alt";
      font-weight: 400;
      font-size: 6.5rem;
      line-height: 1;
      text-align: left;
      vertical-align: middle;
      color: #f0f0f0;
    }
    span {
      font-family: "Minecraft";
      font-weight: 300;
      color: #d0d0d0;
      &.s{
        font-size: 3.5rem;
        line-height: .8;
      }
    }
  }
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.s1{
    height: 30dvh;
    flex-direction: column !important;
    .sectionWrapper {
      height: calc(100% - 2rem);
      width: calc(100% - 10rem);
      // background: pink;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      .rowItem {
        height: 100%;
        aspect-ratio: 11 / 12;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // background: green;
      }
    }
  }
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #101010;
  position: relative;
  overflow: hidden;
}